Flask             
Flask-Bootstrap   
Flask-Login       
Flask-Mail        
Flask-Migrate     
Flask-SQLAlchemy  
Flask-Uploads     
Flask-User        
Flask-WTF         
Jinja2            
pdf2image         
Pillow            
psycopg2-binary  
PyPDF2            
pytesseract       
python-dotenv     
Werkzeug          
WTForms           